/*Estilo geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
}

h2.titulo{
    color: beige;
    font-size: 30px;
    text-align: center;
}

h2.titulo span{
    color: aquamarine;
}

button:hover{
    box-shadow: 0px 0px 8px aqua;
    transform: scale(1.05);
}

/*Estilo do cabeçalho*/
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 25px;
    color: aquamarine;
    text-decoration: none;
    font-weight: 600;
}

header a{
    color: rgb(72, 123, 106);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover{
    color: aquamarine;
    transform: scale(1.05);
}

header nav.menu-desktop ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: rgb(47, 241, 202);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

/*Estilo do menu mobile*/

.btn-abrir i{
    color: aquamarine;
    font-size: 40px;
}

.menu-mobile{
    background-color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .2s;
}

.menu-mobile.abrir-menu{
    width: 50%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar i{
    color: aqua;
    font-size: 30px;
}

.menu-mobile .btn-fechar{
    padding: 20px 4%;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: aliceblue;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: aquamarine;
    color: black;
}

.overlay-menu{
    background-color: rgba(0, 0, 0, 0.616);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* Esconde o menu mobile e exibe o menu desktop para telas maiores */
@media screen and (min-width: 1331px) {
    /* Exibe o menu desktop e esconde o menu mobile */
    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: block;
    }
}

/* Esconde o menu desktop e exibe o menu mobile para telas menores */
@media screen and (max-width: 1330px) {
    /* Exibe o menu mobile e esconde o menu desktop */
    .menu-mobile {
        display: block;
    }

    .menu-desktop {
        display: none;
    }
}

/* Esconde o ícone do menu mobile em telas grandes */
@media screen and (min-width: 1331px) {
    .btn-abrir {
        display: none;
    }
}

/* Exibe o ícone do menu mobile em telas menores */
@media screen and (max-width: 1330px) {
    .btn-abrir {
        display: block;
    }
}

/*Estilo do topo do site*/

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: azure;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site h1{
    font-size: 40px;
    color: azure;
}

.topo-do-site p{
    color: azure;
    font-size: 25px;
    line-height: 40px;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img{
    position: relative;
    border-radius: 300px;
}

/*Estilo Sobre Mim*/

section.sobre{
    padding: 80px 4%;
    align-items: center;
}

section.sobre .flex{
    gap: 60px;
}

.sobre .sobre-box{
    color: aliceblue;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sobre .sobre-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.4);
}

.sobre .sobre-box i{
    font-size: 70px;
    color: aquamarine;
    display: flex;
    justify-content: center;
}

.sobre .sobre-box button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: rgb(47, 241, 202);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

/*Estilo formação*/

section.formacao{
    padding: 80px 4%;
    display: flex;
    justify-content: center;
}

section.formacao .flex{
    gap: 80px;
}

.formacao .formacao{
    color: aliceblue;
    margin-top: 45px;
}

.formacao .formacao h3{
    padding: 20px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.formacao .formacao p{
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.formacao .formacao img{
    border-radius: 20px;
}

/*Estilo rodapé*/

footer{
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0px;
}

.borda{
    border-top: 2px solid aquamarine;
}
footer .line-footer .logo-footer a{
    color: aquamarine;
    text-decoration: none;
    font-size: 25px;
    font-weight: 100;
    height: 60px;
    cursor: pointer;
    transition: .2s;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: aqua;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

footer .line-footer p i{
    color: aqua;
    font-size: 22px;
}

footer .line-footer p a{
    color: aliceblue;
}

@media screen and (max-width: 1330px){
    /*classes gerais*/
    .flex{
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
        text-align: center;
    }

    /*cabeçalho*/
    .menu-desktop, .btn-contato{
        display: none;
    }

    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /*topo do site*/
    .topo-do-site .img-topo-site img{
        width: 300px;
    }

    /*sobre mim*/
    section.sobre .flex{
        gap: 30px;
    }

    /*formação*/
    .formacao .formacao img{
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /*footer*/

    footer .flex{
        gap: 30px;
    }

    footer .line-footer{
        text-align: center;
    }

    .btn-social button{
        font-size: 16px;
    }

    footer .line-footer p a{
        color: white;
        font-size: 10px;
    }

}